@page "/dashboard/ecommerce/"
@inherits DemoCompontentBase
@using BlazorComponent

<MRow>
    <MCol Cols=12 Md=6 Xl=4>
        <MCard Style="height:100%;">
            <MCardText>
                <span Class="font-weight-bold text-h6">Congratulations 🎉 John!</span>
                <p>You have won gold medal</p>
                <div class="text-h5 mb-1">
                    <a href="#" target="_self" class="a">$48.9k</a>
                </div>
                <MButton Class="deep-purple text-center white--text">
                    View Sales
                </MButton>
            </MCardText>
            <img class="congratulation-medal" src="/img/eCommerce/eCommerce-congratulation-medal.svg" alt="Medal Pic" />
        </MCard>
    </MCol>
    <MCol Cols=12 Md=6 Xl=8>
        <MCard Style="height:100%;">
            <MCardText>
                <MRow>
                    <MCol Class="font-weight-bold text-h5">Statistics</MCol>
                    <MCol Align=AlignTypes.Center Class="text-right">Updated 1 month ago</MCol>
                </MRow>
                <MRow>
                    <MCol Cols=12 Md=6 Xl=3 Sm=12 Class="px-4 d-flex">
                        <MAvatar Size=48 Color="deep-purple lighten-5 mr-4">
                            <span Class="deep-purple--text">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trending-up"><polyline points="23 6 13.5 15.5 8.5 10.5 1 18"></polyline><polyline points="17 6 23 6 23 12"></polyline></svg>
                            </span>
                        </MAvatar>
                        <div>
                            <span class="font-weight-black text-h6"> 230k </span>
                            <p> Sales </p>
                        </div>
                    </MCol>
                    <MCol Cols=12 Md=6 Xl=3 Sm=12 Class="px-4 d-flex">
                        <MAvatar Size=48 Color="cyan lighten-5 mr-4">
                            <span Class="cyan--text">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                            </span>
                        </MAvatar>
                        <div>
                            <span class="font-weight-black text-h6"> 8.549k </span>
                            <p> Customers </p>
                        </div>
                    </MCol>
                    <MCol Cols=12 Md=6 Xl=3 Sm=12 Class="px-4 d-flex">
                        <MAvatar Size=48 Color="red lighten-5 mr-4">
                            <span Class="red--text">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-box"><path d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"></path><polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline><line x1="12" y1="22.08" x2="12" y2="12"></line></svg>
                            </span>
                        </MAvatar>
                        <div>
                            <span class="font-weight-black text-h6"> 8.549k </span>
                            <p> Customers </p>
                        </div>
                    </MCol>
                    <MCol Cols=12 Md=6 Xl=3 Sm=12 Class="px-4 d-flex">
                        <MAvatar Size=48 Color="green lighten-5 mr-4">
                            <span Class="green--text">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-dollar-sign"><line x1="12" y1="1" x2="12" y2="23"></line><path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path></svg>
                            </span>
                        </MAvatar>
                        <div>
                            <span class="font-weight-black text-h6"> $9745 </span>
                            <p> Revenue </p>
                        </div>
                    </MCol>
                </MRow>
            </MCardText>
        </MCard>
    </MCol>
</MRow>

<MRow>
    <MCol Cols=12 Lg=4>
        <MRow>
            <MCol Cols=12 Md=3 Lg=6 Xl=6 Sm=6>
                <MCard Style="height:100%;">
                    <MCardText>
                        <span style="font-size:16px">Orders</span>
                        <p class="font-weight-black text-h6"> 2,76k </p>
                    </MCardText>
                </MCard>
            </MCol>
            <MCol Cols=12 Md=3 Lg=6 Xl=6 Sm=6>
                <MCard Style="height:100%;">
                    <MCardText>
                        <span style="font-size:16px">Profit</span>
                        <p class="font-weight-black text-h6"> 6,24k </p>
                    </MCardText>
                </MCard>
            </MCol>
            <MCol Cols=12 Md=6 Lg=12>
                <MCard Style="min-height:240px">
                    <MCardText>
                        <MRow>
                            <MCol>
                                <div class="text-h5 mb-3">Earnings</div>
                                <div> This Month </div>
                                <div class="font-weight-black mb-3">  $4055.56  </div>
                                <p>
                                    <span class="font-weight-bold">68.2%</span>
                                    <span> more earnings than last month.</span>
                                </p>
                            </MCol>
                            <MCol>

                            </MCol>
                        </MRow>
                    </MCardText>
                </MCard>
            </MCol>
        </MRow>
    </MCol>
    <MCol Cols=12 Lg=8>
        <MCard Style="height:100%;">
            <MCardText>
                <MRow>
                    <MCol Md=8 style="height:90%;border-right:1px solid #ebe9f1">

                    </MCol>
                    <MCol Align=AlignTypes.Center Md=4 style="height:90%;">
                        <MSelect Dense Solo Class="ma-auto" Style="width:100px;" Value=2020 Items="_items" ItemText="u => u.ToString()" ItemValue="u=>u" TItem="int" TItemValue="int" TValue="int">

                        </MSelect>

                        <div class="text-h5 font-weight-black text-center"> $25,852 </div>
                        <div class="text-center">
                            <span class="font-weight-bold">Budget:</span>
                            <span class="font-weight-thin">56,800 </span>
                        </div>
                        <div style="min-height: 80px;" class="my-7">
                        </div>
                        <MCardActions>
                            <MButton Class="deep-purple text-center white--text ma-auto">
                                Increase Budget
                            </MButton>
                        </MCardActions>
                    </MCol>
                </MRow>
            </MCardText>
        </MCard>
    </MCol>
</MRow>

<MRow>
    <MCol Cols=12 Lg=8>
        <MCard>
            <MDataTable Headers="_headers"
                        Items="_companyDatas"
                        HideDefaultFooter>
                <ItemColContent>
                    @switch (context.Header.Value)
                    {
                        case nameof(CompanyData.CompanyName):
                            <MContainer>
                                <MRow>
                                    <MCol Lg=2 Align=AlignTypes.Center>
                                        <MImage Src="@context.Item.CompanyIcon"></MImage>
                                    </MCol>
                                    <MCol Lg=10>
                                        <span class="font-weight-medium text-start">@context.Item.CompanyName</span>
                                        <br />
                                        <span class="grey--text text-end">@context.Item.CompanyEmail</span>
                                    </MCol>
                                </MRow>
                            </MContainer>
                            break;
                        case nameof(CompanyData.Category):
                            if (context.Item.CategoryIcon == 1)
                            {
                                <MAvatar Size=36 Color="deep-purple lighten-5">
                                    <MIcon Small Color="deep-purple">fas fa-desktop</MIcon>
                                </MAvatar>

                            }
                            else if (context.Item.CategoryIcon == 2)
                            {
                                <MAvatar Size=36 Color="green lighten-5">
                                    <MIcon Small Color="green">fas fa-coffee</MIcon>
                                </MAvatar>
                            }
                            else
                            {
                                <MAvatar Size=36 Color="orange lighten-5">
                                    <MIcon Color="orange">fas fa-clock</MIcon>
                                </MAvatar>
                            }
                            <span class="ml-3">@context.Item.Category</span>
                            break;
                        case nameof(CompanyData.Views):
                            <span class="text-subtitle-1 text-start">@context.Item.Views</span>
                            <br />
                            <span class="grey--text text-end">@context.Item.ViewTime</span>
                            break;
                        case nameof(CompanyData.Revenue):
                            <span class="text-body-2">@context.Item.Revenue</span>
                            break;
                        case nameof(CompanyData.Sales):
                            <span class="text-subtitle-1">@context.Item.Sales</span>
                            if (context.Item.Rise)
                            {
                                <MIcon Class="ml-3" Color="green">fas fa-long-arrow-alt-up</MIcon>
                            }
                            else
                            {
                                <MIcon Class="ml-3" Color="red">fas fa-long-arrow-alt-down</MIcon>
                            }

                            break;
                        default:
                            @context.Value
                            break;
                    }
                </ItemColContent>
            </MDataTable>

        </MCard>
    </MCol>
    <MCol Cols=12 Md=6 Xl=4 Lg=4>
        <MCard Style="height:100%">
            <MImage Class="deep-purple lighten-5" Height=185 Src="/img/eCommerce/email.svg"></MImage>
            <MCardText>
                <div class="d-flex mb-7">
                    <div class="mr-5 pr-5 border-right-solid">
                        <div class="text-subtitle-1"> THU </div>
                        <div class="text-h6 text-center"> 24 </div>
                    </div>
                    <div>
                        <div class="text-h6">Developer Meetup</div>
                        <div class="text-subtitle-1">Meet world popular developers</div>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="mr-4">
                        <MAvatar Size=36 Tile Color="deep-purple lighten-5">
                            <MIcon Small Color="deep-purple">far fa-calendar</MIcon>
                        </MAvatar>
                    </div>
                    <div>
                        <div>
                            <strong>Sat, May 25, 2020</strong>
                        </div>
                        <small>10:AM to 6:PM</small>
                    </div>
                </div>
                <div class="d-flex mt-4">
                    <div class="mr-4">
                        <MAvatar Size=36 Tile Color="deep-purple lighten-5">
                            <MIcon Small Color="deep-purple">fas fa-map-marker-alt</MIcon>
                        </MAvatar>
                    </div>
                    <div>
                        <div>
                            <strong>Central Park</strong>
                        </div>
                        <small>Manhattan, New york City</small>
                    </div>
                </div>
                <div class="mt-6">
                    <MHover>
                        <MTooltip Color="grey darken-4" Bottom>
                            <ActivatorContent Context="tooltip">
                                <MAvatar @attributes="@MerginAttributes(context.Attrs,tooltip.Attrs)" Size=36 Class="@("mr-n3 "+(context.Hover ?"elevation-24 mt-n2":""))" Style="@(context.Hover ?"z-index:2":"")">
                                    <MImage Src="/img/avatar/avatar-s-6.jpg"></MImage>
                                </MAvatar>
                            </ActivatorContent>
                            <ChildContent>
                                <span>Billy Hopkins</span>
                            </ChildContent>
                        </MTooltip>
                    </MHover>

                    <MHover>
                        <MTooltip Color="grey darken-4" Bottom>
                            <ActivatorContent Context="tooltip">
                                <MAvatar @attributes="@MerginAttributes(context.Attrs,tooltip.Attrs)" Size=36 Class="@("mr-n3 "+(context.Hover ?"elevation-24 mt-n2":""))" Style="@(context.Hover ?"z-index:2":"")">
                                    <MImage Src="/img/avatar/avatar-s-7.jpg"></MImage>
                                </MAvatar>
                            </ActivatorContent>
                            <ChildContent>
                                <span>Amy Carson</span>
                            </ChildContent>
                        </MTooltip>
                    </MHover>

                    <MHover>
                        <MTooltip Color="grey darken-4" Bottom>
                            <ActivatorContent Context="tooltip">
                                <MAvatar @attributes="@MerginAttributes(context.Attrs,tooltip.Attrs)" Size=36 Class="@("mr-n3 "+(context.Hover ?"elevation-24 mt-n2":""))" Style="@(context.Hover ?"z-index:2":"")">
                                    <MImage Src="/img/avatar/avatar-s-8.jpg"></MImage>
                                </MAvatar>
                            </ActivatorContent>
                            <ChildContent>
                                <span>Brandon Miles</span>
                            </ChildContent>
                        </MTooltip>
                    </MHover>

                    <MHover>
                        <MTooltip Color="grey darken-4" Bottom>
                            <ActivatorContent Context="tooltip">
                                <MAvatar @attributes="@MerginAttributes(context.Attrs,tooltip.Attrs)" Size=36 Class="@("mr-n3 "+(context.Hover ?"elevation-24 mt-n2":""))" Style="@(context.Hover ?"z-index:2":"")">
                                    <MImage Src="/img/avatar/avatar-s-9.jpg"></MImage>
                                </MAvatar>
                            </ActivatorContent>
                            <ChildContent>
                                <span>Daisy Weber</span>
                            </ChildContent>
                        </MTooltip>
                    </MHover>

                    <MHover>
                        <MTooltip Color="grey darken-4" Bottom>
                            <ActivatorContent Context="tooltip">
                                <MAvatar @attributes="@MerginAttributes(context.Attrs,tooltip.Attrs)" Size=36 Class="@("mr-n3 "+(context.Hover ?"elevation-24 mt-n2":""))" Style="@(context.Hover ?"z-index:2":"")">
                                    <MImage Src="/img/avatar/avatar-s-20.jpg"></MImage>
                                </MAvatar>
                            </ActivatorContent>
                            <ChildContent>
                                <span>Jenny Loope</span>
                            </ChildContent>
                        </MTooltip>
                    </MHover>

                    <MButton Icon Class="ml-4">
                        <span class="black--text">
                            +42
                        </span>
                    </MButton>
                </div>
            </MCardText>
        </MCard>
    </MCol>
    <MCol Cols=12 Md=6 Xl=4 Lg=4>
        <MCard Style="height:100%">
            <MListItem>
                <MListItemContent>
                    <MCardTitle>
                        Browser States
                    </MCardTitle>
                    <MCardSubtitle>
                        Counter August 2020
                    </MCardSubtitle>
                </MListItemContent>
                <MListItemAction>
                    <MMenu Right Bottom>
                        <ActivatorContent>
                            <MButton Icon @attributes="@context.Attrs">
                                <MIcon>mdi-dots-vertical</MIcon>
                            </MButton>
                        </ActivatorContent>
                        <ChildContent>
                            <MList>
                                <MListItem Link>
                                    <MListItemTitle> Last 28 Days </MListItemTitle>
                                </MListItem>
                                <MListItem Link>
                                    <MListItemTitle>  Last Month  </MListItemTitle>
                                </MListItem>
                                <MListItem Link>
                                    <MListItemTitle>  Last Year  </MListItemTitle>
                                </MListItem>
                            </MList>
                        </ChildContent>
                    </MMenu>
                </MListItemAction>
            </MListItem>
            <MCardText Class="mt-n5">
                <MList Subheader>
                    <MListItem>
                        <MListItemIcon>
                            <MImage Height=30 Width=32 Src="/img/eCommerce/chrome.png"></MImage>
                        </MListItemIcon>
                        <MListItemContent>
                            <MListItemTitle>
                                <span class="text-h6"> Google Chrome </span>
                            </MListItemTitle>
                        </MListItemContent>
                        <MListItemAction>
                            <span class="text-h6">54.4%</span>
                            <MProgressCircular Class="ml-3" Rotate=-100 Value="54.4" Size="30" Color="indigo"></MProgressCircular>
                        </MListItemAction>
                    </MListItem>
                    <MListItem Class="mb-2">
                        <MListItemIcon>
                            <MImage Height=30 Width=32 Src="/img/eCommerce/firefox.png"></MImage>
                        </MListItemIcon>
                        <MListItemContent>
                            <MListItemTitle>
                                <span class="text-h6"> Mozila Firefox </span>
                            </MListItemTitle>
                        </MListItemContent>
                        <MListItemAction>
                            <span class="text-h6">6.1%</span>
                            <MProgressCircular Class="ml-3" Rotate=-100 Value="6.1" Size="30" Color="orange"></MProgressCircular>
                        </MListItemAction>
                    </MListItem>
                    <MListItem Class="mb-2">
                        <MListItemIcon>
                            <MImage Height=30 Width=32 Src="/img/eCommerce/safari.png"></MImage>
                        </MListItemIcon>
                        <MListItemContent>
                            <MListItemTitle>
                                <span class="text-h6"> Apple Safari </span>
                            </MListItemTitle>
                        </MListItemContent>
                        <MListItemAction>
                            <span class="text-h6">14.6%</span>
                            <MProgressCircular Class="ml-3" Rotate=-100 Value="14.6" Size="30" Color="blue-grey"></MProgressCircular>
                        </MListItemAction>
                    </MListItem>
                    <MListItem Class="mb-2">
                        <MListItemIcon>
                            <MImage Height=30 Width=32 Src="/img/eCommerce/internet-explorer.png"></MImage>
                        </MListItemIcon>
                        <MListItemContent>
                            <MListItemTitle>
                                <span class="text-h6"> Internet Explorer </span>
                            </MListItemTitle>
                        </MListItemContent>
                        <MListItemAction>
                            <span class="text-h6">4.2%</span>
                            <MProgressCircular Class="ml-3" Rotate=-100 Value="4.2" Size="30" Color="light-blue"></MProgressCircular>
                        </MListItemAction>
                    </MListItem>
                    <MListItem Class="mb-2">
                        <MListItemIcon>
                            <MImage Height=30 Width=32 Src="/img/eCommerce/opera-mini.png"></MImage>
                        </MListItemIcon>
                        <MListItemContent>
                            <MListItemTitle>
                                <span class="text-h6"> Opera Mini </span>
                            </MListItemTitle>
                        </MListItemContent>
                        <MListItemAction>
                            <span class="text-h6">8%</span>
                            <MProgressCircular Class="ml-3" Rotate=-100 Value="8" Size="30" Color="deep-orange"></MProgressCircular>
                        </MListItemAction>
                    </MListItem>
                </MList>
            </MCardText>
        </MCard>
    </MCol>
    <MCol Cols=12 Md=6 Xl=4 Lg=4>
        <MCard Style="height:100%">
            <MListItem>
                <MListItemContent>
                    <MCardTitle>
                        Goal Overview
                    </MCardTitle>
                </MListItemContent>
                <MListItemAction>
                    <svg xmlns="http://www.w3.org/2000/svg" class="grey--text" width="21px" height="21px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path><line x1="12" y1="17" x2="12.01" y2="17"></line></svg>
                </MListItemAction>
            </MListItem>
            <MCardText>
                <div Class="text-center mt-3 mb-8">
                    <MProgressCircular Rotate=50 Value="83" Width=10 Size="250" Color="green lighten-1"><span class="text-h3 blue-grey--text">83%</span></MProgressCircular>
                </div>
            </MCardText>
            <MRow Class="text-center" NoGutters>
                <MCol>
                    <div Class="border-right-solid border-top-solid pa-3">
                        <span class="grey--text text-subtitle-1 text-h5">Completed</span>
                        <br />
                        <span class="text-end text-h5 black--text">786,617</span>
                    </div>
                </MCol>
                <MCol>
                    <div Class="border-top-solid pa-3">
                        <span class="grey--text text-subtitle-1 text-h5">In Progress</span>
                        <br />
                        <span class="text-h5 black--text">786,617</span>
                    </div>
                </MCol>
            </MRow>
        </MCard>
    </MCol>
    <MCol Cols=12 Md=6 Xl=4 Lg=4>
        <MCard Style="height:100%">
            <MListItem>
                <MListItemContent>
                    <MCardTitle>
                        Transactions
                    </MCardTitle>
                </MListItemContent>
                <MListItemAction>
                    <MMenu Left Bottom>
                        <ActivatorContent>
                            <MButton Icon @attributes="@context.Attrs">
                                <MIcon>mdi-dots-vertical</MIcon>
                            </MButton>
                        </ActivatorContent>
                        <ChildContent>
                            <MList>
                                <MListItem>
                                    <MListItemTitle> Last 28 Days </MListItemTitle>
                                </MListItem>
                                <MListItem>
                                    <MListItemTitle>  Last Month  </MListItemTitle>
                                </MListItem>
                                <MListItem>
                                    <MListItemTitle>  Last Year  </MListItemTitle>
                                </MListItem>
                            </MList>
                        </ChildContent>
                    </MMenu>
                </MListItemAction>
            </MListItem>
            <MCardText Class="mt-n5">
                <MList Disabled Subheader>
                    <MListItem>
                        <MListItemIcon>
                            <MAvatar Size=48 Color="deep-purple lighten-5" Tile>
                                <MIcon Color="deep-purple">fas fa-caret-square-down</MIcon>
                            </MAvatar>
                        </MListItemIcon>
                        <MListItemContent Class="ml-n3">
                            <MListItemTitle>
                                <span class="font-weight-medium">Wallet</span>
                                <br />
                                <span class="grey--text text-subtitle-1">Starbucks</span>
                            </MListItemTitle>
                        </MListItemContent>
                        <MListItemAction>
                            <span class="red--text text-h6">-$74</span>
                        </MListItemAction>
                    </MListItem>
                    <MListItem>
                        <MListItemIcon>
                            <MAvatar Size=48 Color="green lighten-5" Tile>
                                <MIcon Color="green">fas fa-check</MIcon>
                            </MAvatar>
                        </MListItemIcon>
                        <MListItemContent Class="ml-n3">
                            <MListItemTitle>
                                <span class="font-weight-medium">Bank Transfer</span>
                                <br />
                                <span class="grey--text text-subtitle-1">Add Money</span>
                            </MListItemTitle>
                        </MListItemContent>
                        <MListItemAction>
                            <span class="green--text text-h6">+$480</span>
                        </MListItemAction>
                    </MListItem>
                    <MListItem>
                        <MListItemIcon>
                            <MAvatar Size=48 Color="red lighten-5" Tile>
                                <MIcon Color="red">fas fa-dollar-sign</MIcon>
                            </MAvatar>
                        </MListItemIcon>
                        <MListItemContent Class="ml-n3">
                            <MListItemTitle>
                                <span class="font-weight-medium">Paypal</span>
                                <br />
                                <span class="grey--text text-subtitle-1">Add Money</span>
                            </MListItemTitle>
                        </MListItemContent>
                        <MListItemAction>
                            <span class="green--text text-h6">+$480</span>
                        </MListItemAction>
                    </MListItem>
                    <MListItem>
                        <MListItemIcon>
                            <MAvatar Size=48 Color="orange lighten-5" Tile>
                                <MIcon Color="orange">fas fa-wallet</MIcon>
                            </MAvatar>
                        </MListItemIcon>
                        <MListItemContent Class="ml-n3">
                            <MListItemTitle>
                                <span class="font-weight-medium">Mastercard</span>
                                <br />
                                <span class="grey--text text-subtitle-1">Ordered Food</span>
                            </MListItemTitle>
                        </MListItemContent>
                        <MListItemAction>
                            <span class="red--text text-h6">-$23</span>
                        </MListItemAction>
                    </MListItem>
                    <MListItem>
                        <MListItemIcon>
                            <MAvatar Size=48 Color="cyan lighten-5" Tile>
                                <MIcon Color="cyan">fas fa-long-arrow-alt-up</MIcon>
                            </MAvatar>
                        </MListItemIcon>
                        <MListItemContent Class="ml-n3">
                            <MListItemTitle>
                                <span class="font-weight-medium">Transfer</span>
                                <br />
                                <span class="grey--text text-subtitle-1">Refund</span>
                            </MListItemTitle>
                        </MListItemContent>
                        <MListItemAction>
                            <span class="green--text text-h6">+$98</span>
                        </MListItemAction>
                    </MListItem>
                </MList>
            </MCardText>
        </MCard>
    </MCol>
</MRow>

@code {
    public override string Name => nameof(ECommerce);

    int[] _items = new[] { 2020, 2019, 2018 };

    List<DataTableHeader<CompanyData>> _headers = new List<DataTableHeader<CompanyData>>
    {
        new () {Text= "COMPANY", Value= nameof(CompanyData.CompanyName)},
        new (){ Text= "CATEGORY", Value= nameof(CompanyData.Category)},
        new (){ Text= "VIEWS", Value= nameof(CompanyData.Views)},
        new (){ Text= "REVENUE", Value= nameof(CompanyData.Revenue)},
        new (){ Text= "SALES", Value= nameof(CompanyData.Sales)},
    };

    List<CompanyData> _companyDatas = new List<CompanyData>
    {
        new("Dixons","Technology","23.4k","$891.2","68%","/img/eCommerce/toolbox.svg","meguc@ruj.io",1,"in 24 hours",false),
        new("Motels","Grocery","78k","$668.51","97%","/img/eCommerce/parachute.svg","vecav@hodzi.co.uk",2,"in 2 days",true),
        new("Zipcar","Fashion","162","$522.29","62%","/img/eCommerce/brush.svg","davcilse@is.gov",3,"in 5 days",true),
        new("Owning","Technology","214","$291.01","88%","/img/eCommerce/star.svg","meguc@ruj.io",1,"in 24 hours",true),
        new("Cafés","Grocery","208","$783.93","16%","/img/eCommerce/book.svg","meguc@ruj.io",2,"in 24 hours",false),
        new("Kmart","Fashion","990","$780.05","78%","/img/eCommerce/rocket.svg","meguc@ruj.io",3,"in 24 hours",true),
        new("Payers","Fashion","12.9k","$531.49","42%","/img/eCommerce/speaker.svg","meguc@ruj.io",3,"in 24 hours",true),
    };

    class CompanyData
    {
        public CompanyData(string companyName, string category, string views, string revenue, string sales, string companyIcon, string companyEmail, int categoryIcon, string viewTime, bool rise)
        {
            CompanyName = companyName;
            Category = category;
            Views = views;
            Revenue = revenue;
            Sales = sales;
            CompanyIcon = companyIcon;
            CompanyEmail = companyEmail;
            CategoryIcon = categoryIcon;
            ViewTime = viewTime;
            Rise = rise;
        }

        public string CompanyName { get; set; }

        public string Category { get; set; }

        public string Views { get; set; }

        public string Revenue { get; set; }

        public string Sales { get; set; }

        public string CompanyIcon { get; set; }

        public string CompanyEmail { get; set; }

        public int CategoryIcon { get; set; }

        public string ViewTime { get; set; }

        public bool Rise { get; set; }
    }

    Dictionary<string, object> MerginAttributes(Dictionary<string, object> attributes, Dictionary<string, object> otherAttributes)
    {
        foreach (var (key, value) in otherAttributes)
        {
            if (attributes.ContainsKey(key) is false) attributes.Add(key, value);
        }
        return attributes;
    }
}
