@page "/apps/ecommerce/details"
@page "/apps/ecommerce/details/{Id}"
@inherits DemoCompontentBase

@*<div class="d-inline-flex d-flex align-center">
    <h2 class="auto-width">Product Details</h2>
    <MDivider Vertical class="ml-4 mt-3" style="height:40px;" />
    <MBreadcrumbs Large class="auto-width" TItem="BreadcrumbItem">
    <MBreadcrumbsItem Disabled="false">
    <MIcon Large class='head-bread-icon'>mdi-home</MIcon>
    </MBreadcrumbsItem>
    <MBreadcrumbsItem Href="">ECommerce</MBreadcrumbsItem>
    <MBreadcrumbsItem Text="Shop"></MBreadcrumbsItem>
    <MBreadcrumbsItem Text="Product Details"></MBreadcrumbsItem>
    </MBreadcrumbs>
    </div>*@

<MCard>
    <MCardText>
        <MRow style="min-height:600px;">
            <MCol Md="6" Align="AlignTypes.Center" Class="d-flex flex-column align-center">
                <MImage src="@ShopDataItem.PictureFile" class="full-width" Height="@("auto")"/>
            </MCol>
            <MCol Md="6" class="d-flex flex-column">
                <div class="mb-6">
                    <p class="text-caption mb-0">By<span class="sample-green--text ml-2">@_shopDataItem.Brand</span></p>
                    <h5 class="neutral-lighten-1--text">@_shopDataItem.Name</h5>
                </div>
                <div class="mb-6">
                    <p class="mb-0 text-caption"> Available - InStock</p>
                    <MRating Readonly Value="ShopDataItem.Rating" Size=20 Color="remind" BackgroundColor="remind" Dense></MRating>
                    <h6 class="neutral--text">$@ShopDataItem.Price</h6>
                </div>
                <p class="mb-6 text-body neutral-lighten-4--text justify-text-align">
                    @ShopDataItem.Description
                </p>
                <div class="mb-6 d-flex justify-space-between">
                    <span class="text-caption neutral-lighten-1--text">Free Shipping</span><span class="text-caption neutral-lighten-4--text">Shipping</span>
                </div>
                <MDivider></MDivider>
                <div class="mb-6 mt-6 d-flex justify-space-between">
                    <MButtonGroup Mandatory Dense Tile>
                        <MButton Fab class="mx-2 rounded-circle ml-0 mr-0" Width="24" Height="24" MinWidth="24" Color="purple">
                        </MButton>
                        <MButton Fab class="mx-2 rounded-circle ml-3 mr-3" Width="24" Height="24" MinWidth="24" Color="green">
                        </MButton>
                        <MButton Fab class="mx-2 rounded-circle ml-0 mr-0" Width="24" Height="24" MinWidth="24" Color="orange">
                        </MButton>
                        <MButton Fab class="mx-2 rounded-circle ml-3 mr-3" Width="24" Height="24" MinWidth="24" Color="red">
                        </MButton>
                        <MButton Fab class="mx-2 rounded-circle ml-0 mr-0" Width="24" Height="24" MinWidth="24" Color="blue">
                        </MButton>
                    </MButtonGroup>
                    <span class="text-caption neutral-lighten-4--text">Colors</span>
                </div>
                <div class="flex-grow-1 d-flex align-end">
                    <MButton Depressed Outlined class="primary--text">
                        Wishlist
                    </MButton>
                    <MButton Depressed class="primary ml-6 mr-6">
                        View In Cart
                    </MButton>
                    <MButton Depressed Width="24" MinWidth="24" class="transparent">
                        <MIcon>mdi-share-variant</MIcon>
                    </MButton>
                </div>
            </MCol>
        </MRow>
    </MCardText>
</MCard>

<MRow class="mt-6">
    <MCol Md="4" Align="AlignTypes.Center" class="pa-15 d-flex flex-column align-center">
        <MIcon class="primary--text">mdi-trophy</MIcon>
        <h5 class="neutral-lighten-1--text mt-2 mb-2"> 100% Original </h5>
        <p class="text-center text-body neutral-lighten-3--text"> Chocolate bar candy canes ice cream toffee. Croissant pie cookie halvah. </p>
    </MCol>
    <MCol Md="4" Align="AlignTypes.Center" class="pa-15 d-flex flex-column align-center">
        <MIcon class="primary--text">mdi-timelapse</MIcon>
        <h5 class="neutral-lighten-1--text mt-2 mb-2"> 10 Day Replacement </h5>
        <p class="text-center text-body neutral-lighten-3--text"> Marshmallow biscuit donut dragée fruitcake. Jujubes wafer cupcake. </p>
    </MCol>
    <MCol Md="4" Align="AlignTypes.Center" class="pa-15 d-flex flex-column align-center">
        <MIcon class="primary--text">mdi-shield</MIcon>
        <h5 class="neutral-lighten-1--text mt-2 mb-2"> 1 Year Warranty</h5>
        <p class="text-center text-body neutral-lighten-3--text"> Cotton candy gingerbread cake I love sugar plum I love sweet croissant. </p>
    </MCol>
</MRow>
<MRow class="mt-6">
    <MSheet Class="mx-auto full-width transparent">
        <h5 class="text-center neutral-lighten-1--text">Related Products</h5>
        <p class="text-center text-body neutral-lighten-3--text mb-0">People also search for this items</p>
        <MSlideGroup ShowArrows="@(true)" class="mt-6 relate-group">
            @foreach (var item in Enumerable.Range(1, 5))
            {
                <a target="_self">
                    <MSlideItem>
                        <MCard RefBack="@context.Ref" Color="@("#f8f8f8")" class="ma-3 white" Height="428" Width="333" Click="@context.Toggle">
                            <MImage Height=333 Width=333 Src="https://cdn.vuetifyjs.com/images/parallax/material.jpg" Class="hover-pointer"></MImage>
                            <MCardText class="pa-3">
                                <div class="d-flex justify-space-between">
                                    <MRating Value="4" Size=20 Dense Readonly Length=5 Color="remind" BackgroundColor="remind"></MRating>
                                    <h6>$2449</h6>
                                </div>
                                <div class="text-subtitle text-truncate">Apple HomePod (Space Grey)</div>
                                <div class="text-truncate text-caption">by Apple</div>
                            </MCardText>
                        </MCard>
                    </MSlideItem>
                </a>
            }
        </MSlideGroup>
    </MSheet>
</MRow>

@code {
    public override string Name => "Apps-ECommerce-Details";

    ShopDataItem? _shopDataItem;

    ShopDataItem ShopDataItem => _shopDataItem ?? (_shopDataItem= new ShopPage(ShopDataService.ShopDataItems).GetDetailItem(Id ?? "2d1e3440-5134-40c8-836f-f988bfef91c8"));

    [Parameter]
    public string? Id { get; set; }

}
