@page "/apps/ecommerce/shop"
@inherits DemoCompontentBase
@inject NavigationManager Nav


<MCard Elevation=0 Class="rounded-4 pa-6 mr-3" Style="min-width:300px;width=300px;float:left;">
    <h6>Filters</h6>

    <span class="text-btn neutral-lighten-4--text mt-1">Multi Range</span>
    <div class="border-b-solid mt-6 mb-12 pl-2">
        <MRadioGroup Dense @bind-Value="_shopData.MultiRange">
            @foreach (var multiRange in _multiRanges)
            {
                <div class="block-center" style="height:40px;">
                    <MRadio Color="primary" Value="@multiRange">
                        <LabelContent>
                            <span class="@($"{(_shopData.MultiRange==multiRange?"text-subtitle primary--text":"text-body neutral-lighten-4--text")}")">@multiRange.Text</span>
                        </LabelContent>
                    </MRadio>
                </div>
            }
        </MRadioGroup>
    </div>

    <span class="text-btn neutral-lighten-4--text">Categories</span>
    <div class="border-b-solid mt-6 mb-12 pl-2">
        <MRadioGroup @bind-Value="_shopData.Category">
            @foreach (var categorie in _categories)
            {
                <div class="block-center" style="height:40px;">
                    <MRadio Color="primary" Value="@categorie">
                        <LabelContent>
                            <span class="@($"{(_shopData.Category==categorie?"text-subtitle primary--text":"text-body neutral-lighten-4--text")}")">@categorie</span>
                        </LabelContent>
                    </MRadio>
                </div>
            }
        </MRadioGroup>
    </div>

    <span class="text-btn neutral-lighten-4--text">Brands</span>
    <div class="border-b-solid mt-6 mb-12 pl-2">
        <MRadioGroup @bind-Value="_shopData.Brand">
            @foreach (var brand in _brands)
            {
                <div class="block-center" style="height:40px;">
                    <MRadio Color="primary" Value="@brand">
                        <LabelContent>
                            <span class="@($"text-subtitle {(_shopData.Category==brand?"primary--text":"text-body neutral-lighten-4--text")}")">@brand</span>
                        </LabelContent>
                    </MRadio>
                </div>
            }
        </MRadioGroup>
    </div>
</MCard>

<MRow>
    <MCol Md=4 Sm=12>
        <MCard Elevation=0 Class="line px-6 py-3 block-between">
            <h6>@_shopData.CurrentCount results found</h6>
                <MMenu OffsetY>
                    <ActivatorContent>
                        <div>
                            <span @attributes="@context.Attrs" class="text-btn">@_shopData.SortType</span>
                            <MIcon>mdi-menu-down</MIcon>
                        </div>
                    </ActivatorContent>
                    <ChildContent>
                        <MList>
                            <MListItemGroup @bind-Value="_shopData.SortType" ActiveClass="primary white--text">
                                <MListItem Value="@("Featured")">Featured </MListItem>
                                <MListItem Value="@("Lowest")"> Lowest </MListItem>
                                <MListItem Value="@("Highest")"> Highest </MListItem>
                            </MListItemGroup>
                        </MList>
                    </ChildContent>
                </MMenu>
        </MCard>
    </MCol>
    <MCol Md=8 Sm=12 Class="pr-0">
        <MTextField @bind-Value="_shopData.Search" Class="rounded-2 max-height" Height=54 Flat Solo Placeholder="Search Product">
            <PrependInnerContent>
                <MIcon Size=16 Class="mr-2 neutral-lighten-1--text">mdi-magnify</MIcon>
            </PrependInnerContent>
        </MTextField>
    </MCol>
    <MCol Cols=12 Class="pr-0 mt-n6">
        <MRow>
            @foreach (var item in _shopData.GetPageDatas())
            {
                <MCol Md=4 Sm=1>
                    <MCard Elevation=0 Class="rounded-4">
                        <MImage Height=260 Src="@item.PictureFile" Class="hover-pointer" @onclick="()=>NavigateToDetails(item.Id)"></MImage>
                        <MCardText Class="pa-3">                          
                            <div class="block-between">
                                <MRating Value="item.Rating" Size=20 Dense Readonly Length=5 Color="remind" BackgroundColor="remind"></MRating>
                                <h6>$@item.Price</h6>
                            </div>
                            <div class="text-subtitle text-truncate my-1">@item.Name</div>
                            <div class="text-truncate text-caption">@item.Description</div>
                        </MCardText>
                        <div class="block-between text-center">
                            <div style="width:50%;height:56px;line-height: 56px;box-shadow: inset 0px 0.5px 0px #F4F7FE;">
                                 <MIcon Size=24 Class="my-auto hover-pointer">mdi-heart-outline</MIcon>
                            </div>
                            <div style="width:50%;height:56px;line-height: 56px;box-shadow: inset 0px 0.5px 0px #F4F7FE;">
                                 <MIcon OnClick="NavigateToOrder" Size=24>mdi-cart-outline</MIcon>                            
                            </div>
                        </div>
                    </MCard>
                </MCol>
            }
        </MRow>
        <MPagination @bind-Value="_shopData.PageIndex" Color="primary" Circle Length=@_shopData.PageCount Class="mt-4 elevation-0"></MPagination>
    </MCol>
</MRow>


@code {
    public override string Name => "Apps-eCommerce-Shop";

    List<MultiRange> _multiRanges = new List<MultiRange>
    {
        new(RangeType.All,"All",0),
        new(RangeType.LessEqual,"<= $10",10),
        new(RangeType.Range,"$10 - $100",10,100),
        new(RangeType.Range,"$100 - $500",100,500),
        new(RangeType.MoreEqual,">=$500",500),
    };

    List<string> _categories = new List<string>
    {
        "Appliances", "Audio", "Cameras & Camcorders","Car Electronics & GPS", "Cell Phones",
        "Computers & Tablets", "Health, Fitness & Beauty", "Office & School Supplies","TV & Home Theater", "Video Games",
    };

    List<string> _brands = new List<string>
    {
        "Insignia™", "Samsung", "Metra","HP", "Apple",
        "GE", "Sony", "Incipio","KitchenAid", "Whirlpool",
    };

    List<(int, string)> _ratings = new List<(int, string)>
    {
        (4,"160"), (3,"176"), (2,"291"), (1,"190")
    };

    StringNumber showType = 0;

    ShopPage _shopData =new ShopPage(ShopDataService.ShopDataItems);

    protected override void OnInitialized()
    {
        _shopData.MultiRange = _multiRanges[0];
    }

    void NavigateToDetails(Guid id)
    {
        Nav.NavigateTo($"apps/ecommerce/details/{id}");
    }

    void NavigateToOrder()
    {
        Nav.NavigateTo($"apps/ecommerce/order");
    }
}
