@using MASA.Blazor.Pro.Data.User;

<MNavigationDrawer Temporary Absolute Right Value=Visible ValueChanged=VisibleChanged Width="420">
    <MToolbar Dense Elevation=0 Color="grey lighten-3">
        <span>Add New User</span>
        <MSpacer></MSpacer>
        <MButton Small Icon OnClick="()=>Visible=false">
            <MIcon Small>fas fa-times</MIcon>
        </MButton>
    </MToolbar>
    <MForm Model=_userData EnableDataAnnotationsValidation>
        <MTextField @bind-Value="_userData.FullName" Label="FullName" HideDetails="@("auto")" Dense Outlined />
        <MTextField @bind-Value="_userData.UserName" Label="UserName" HideDetails="@("auto")" Dense Outlined />
        <MTextField @bind-Value="_userData.Email" Label="Email" HideDetails="@("auto")" Dense Outlined />
        <MTextField @bind-Value="_userData.Contact" Label="Contact" HideDetails="@("auto")" Dense Outlined />
        <MTextField @bind-Value="_userData.Company" Label="Company" HideDetails="@("auto")" Dense Outlined />
        <MTextField @bind-Value="_userData.Country" Label="Country" HideDetails="@("auto")" Dense Outlined  />
        <MSelect HideDetails="@("auto")" Dense Outlined Label="Assignee" @bind-Value=_userData.Role           
                 Items=@UserService.Roles ItemText="r => r" ItemValue="r => r">
        </MSelect>
        <MSelect HideDetails="@("auto")" Dense Outlined Label="Assignee" @bind-Value=_userData.Plan
                 Items=@UserService.Plans ItemText="p => p" ItemValue="p => p">
        </MSelect>

        <MRow Class="ml-5">
            <MButton Color="primary" Dark OnClick="async ()=> await AddData(context)"> Add </MButton>
            <MButton Outlined Class="ml-5" OnClick="async() => await UpdateVisible(false)"> Cancel </MButton>
        </MRow>
    </MForm>
</MNavigationDrawer>

@code {
    [Parameter]
    public bool Visible { get; set; }

    [Parameter]
    public EventCallback<bool> VisibleChanged { get; set; }

    [Parameter]
    public EventCallback<UserData> Submit { get; set; }

    UserData _userData = new UserData();

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    protected override void OnParametersSet()
    {
       _userData= new UserData();
    }

    async Task UpdateVisible(bool visible)
    {
        if (VisibleChanged.HasDelegate)
        {
            await VisibleChanged.InvokeAsync(visible);
        }
        else
        {
            Visible = visible;
        }
    }

    async Task AddData(EditContext context)
    {
        if (context.Validate())
        {
            if(Submit.HasDelegate) await Submit.InvokeAsync(_userData);

            await UpdateVisible(false);
        }
    }
}
