@using System.Diagnostics.CodeAnalysis
@inject GlobalConfigs ScopedGlobalConfigs;

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly"
            AdditionalAssemblies="new[] { typeof(Microsoft.AspNetCore.Identity.UI.V5.Pages.Account.Manage.Internal.IndexModel).Assembly }">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

@code {
    private GlobalConfigs? _globalConfig;

    [Parameter]
    public GlobalConfigs GlobalConfig
    {
        get => _globalConfig ?? throw new Exception("Please set parameter GlobalConfig!");
        set => _globalConfig = value;
    }

    protected override void OnInitialized()
    {
        ScopedGlobalConfigs.Bind(GlobalConfig);
    }
}
