@inject GlobalConfig ScopedGlobalConfig;
@inject I18n I18n

<CascadingAuthenticationState>
    <Microsoft.AspNetCore.Components.Routing.Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Microsoft.AspNetCore.Components.Routing.Router>
</CascadingAuthenticationState>

@code {
    private GlobalConfig? _globalConfig;

    [Parameter]
    public GlobalConfig GlobalConfig
    {
        get => _globalConfig ?? throw new Exception("Please configure the GlobalConfig first!");
        set => _globalConfig = value;
    }

    protected override void OnInitialized()
    {
        ScopedGlobalConfig.Bind(GlobalConfig);

        if (ScopedGlobalConfig.I18nConfig?.Language is not null)
        {
            I18n.SetLang(ScopedGlobalConfig.I18nConfig.Language);
        }
    }
}
