@page "/apps/ecommerce/shop"
@inherits ProCompontentBase

<MCard Elevation=0 Class="rounded-4 pa-6 mr-3" Style="min-width:300px;width=300px;float:left;">
    <h6>Filters</h6>

    <span class="text-btn mt-1">Multi Range</span>
    <div class="border-b-solid mt-6 mb-12 pl-2">
        <MRadioGroup Dense @bind-Value="_shopData.MultiRange">
            @foreach (var multiRange in _multiRanges)
            {
                <div class="block-center" style="height:40px;">
                    <MRadio Color="primary" Value="@multiRange">
                        <LabelContent>
                            <span class="@($"{(_shopData.MultiRange==multiRange?"text-subtitle primary--text":"text-body neutral-lighten-2--text")}")">@multiRange.Text</span>
                        </LabelContent>
                    </MRadio>
                </div>
            }
        </MRadioGroup>
    </div>

    <span class="text-btn neutral-lighten-4--text">Categories</span>
    <div class="border-b-solid mt-6 mb-12 pl-2">
        <MRadioGroup @bind-Value="_shopData.Category">
            @foreach (var categorie in _categories)
            {
                <div class="block-center" style="height:40px;">
                    <MRadio Color="primary" Value="@categorie">
                        <LabelContent>
                            <span class="@($"{(_shopData.Category==categorie?"text-subtitle primary--text":"text-body neutral-lighten-2--text")}")">@categorie</span>
                        </LabelContent>
                    </MRadio>
                </div>
            }
        </MRadioGroup>
    </div>

    <span class="text-btn neutral-lighten-4--text">Brands</span>
    <div class="border-b-solid mt-6 mb-12 pl-2">
        <MRadioGroup @bind-Value="_shopData.Brand">
            @foreach (var brand in _brands)
            {
                <div class="block-center" style="height:40px;">
                    <MRadio Color="primary" Value="@brand">
                        <LabelContent>
                            <span class="@($"text-subtitle {(_shopData.Category==brand?"primary--text":"text-body neutral-lighten-2--text")}")">@brand</span>
                        </LabelContent>
                    </MRadio>
                </div>
            }
        </MRadioGroup>
    </div>
</MCard>

<MRow>
    <MCol Md=4 Sm=12>
        <MCard Elevation=0 Class="line px-6 py-3 block-between">
            <h6>@_shopData.CurrentCount results found</h6>
            <MMenu OffsetY OpenOnHover> 
                <ActivatorContent>
                    <div @attributes="@context.Attrs">
                        <span class="text-btn">@_shopData.SortType</span>
                        <MIcon>mdi-menu-down</MIcon>
                    </div>
                </ActivatorContent>
                <ChildContent>
                    <MList Class="py-0">
                        <MListItemGroup @bind-Value="_shopData.SortType" ActiveClass="primary white--text">
                            <MListItem Value="@("Featured")">Featured </MListItem>
                            <MListItem Value="@("Lowest")"> Lowest </MListItem>
                            <MListItem Value="@("Highest")"> Highest </MListItem>
                        </MListItemGroup>
                    </MList>
                </ChildContent>
            </MMenu>
        </MCard>
    </MCol>
    <MCol Md=8 Sm=12 Class="pr-0">
        <MTextField @bind-Value="_shopData.Search" Class="rounded-2 max-height" Height=54 Flat Solo Placeholder="Search Product">
            <PrependInnerContent>
                <MIcon Size=16 Class="mr-2 neutral-lighten-1--text">mdi-magnify</MIcon>
            </PrependInnerContent>
        </MTextField>
    </MCol>
    <MCol Cols=12 Class="pr-0 mt-n6">
        <MRow>
            @foreach (var item in _shopData.GetPageDatas())
            {
                <MCol Md=4 Sm=1>
                    <MHover>
                        <MCard @attributes="context.Attrs" Style="@($"{(context.Hover?"box-shadow: 0px 18px 40px rgba(112, 144, 176, 0.12)!important;margin-top:-4px;":"")}")" Class="rounded-4">
                            <MImage Height=260 Contain Src="@item.PictureFile" Class="hover-pointer" @onclick="()=>NavigateToDetails(item.Id)"></MImage>
                            <MCardText Class="pa-3">
                                <div class="block-between">
                                    <MRating Value="item.Rating" Size=20 Dense Readonly Length=5 Color="remind" BackgroundColor="remind"></MRating>
                                    <h6>$@item.Price</h6>
                                </div>
                                <div class="text-subtitle text-truncate my-1">@item.Name</div>
                                <div class="text-truncate text-body3 neutral-lighten-2--text">@item.Description</div>
                            </MCardText>
                            <div class="block-between text-center">
                                <MHover Context="favoriteContext">
                                    <div @attributes="favoriteContext.Attrs" @onclick="()=>item.Favorite=!item.Favorite" class="rounded-bl-xl hover-pointer @(favoriteContext.Hover?"fill-lighten-1":"")" style="width:50%;height:56px;line-height: 56px;box-shadow: inset -1px 0px 0px #F4F7FE, inset 0px 0.5px 0px #F4F7FE;border-bottom-left-radius: 20px !important;">
                                        <MIcon Size=24 Color="@(item.Favorite?"error":"neutral")">@(item.Favorite?"mdi-heart":"mdi-heart-outline")</MIcon>
                                    </div>
                                </MHover>
                                <MHover Context="orderContext">
                                    <div @attributes="orderContext.Attrs" @onclick="NavigateToOrder" class="hover-pointer @(orderContext.Hover?"primary":"")" style="width:50%;height:56px;line-height: 56px;box-shadow: inset -1px 0px 0px #F4F7FE, inset 0px 0.5px 0px #F4F7FE;border-bottom-right-radius: 20px !important;">
                                        <MIcon Size=24 Color="@(orderContext.Hover?"white":"neutral")">mdi-cart-outline</MIcon>
                                    </div>
                                </MHover>
                            </div>
                        </MCard>
                    </MHover>
                </MCol>
            }
        </MRow>
    </MCol>
</MRow>

@if (_shopData.PageCount > 0)
{
    <MPagination @bind-Value="_shopData.PageIndex" Color="primary" Circle Length=@_shopData.PageCount Class="mt-4 elevation-0 ml300"></MPagination>
}
