@inherits DemoCompontentBase
@inject NavigationManager Nav
@inject List<NavCategory> NavCategorys

<div style="height:132px" class="block-center px-12" @onclick="()=>Nav.NavigateTo(GlobalVariables.DefaultRoute)">  
    <image class="hover-pointer" src="https://cdn.masastack.com/stack/images/logo/MASAStack/logo-h-en.png?x-oss-process=image/resize,w_200"></image>
</div>

<MList Nav Linkage Dense Class="navigation px-7 py-0" Width=300>
    <MListItemGroup>
        @foreach (var navCategory in NavCategorys)
        {
           @* <MSubheader @key="T(navCategory.Category)">@T(navCategory.Category)</MSubheader>*@
            @foreach (var nav in navCategory.Navs)
            {
                if(nav.Childs is null)
                {
                    <MListItem ActiveClass="pry white--text" Style="border-radius: 4px;" Class="my-4" Link Href="@nav.Href">
                        <ItemContent>
                            <MListItemIcon Class="mx-0 my-2">
                                <MIcon class="@(context.Active?"white--text":"neutral-lighten-4--text")" Size=18>@nav.Icon</MIcon>
                            </MListItemIcon>
                            <MListItemContent Class="py-0 ml-2" Style="height:40px;">
                                <h7 class="@(context.Active?"white--text":"neutral-lighten-4--text")">@T(nav.Title)</h7>
                            </MListItemContent>
                      @*      @if (context.Active)
                            {
                                <div class="deep-purple" style="height:24px;width:3px"></div>
                            }*@
                        </ItemContent>
                    </MListItem>
                }
                else
                {
                    <MListGroup Group="@string.Join(",",nav.Childs.Select(n=>n.Href))" Color="pry" Style="border-radius: 4px;" Class="my-4"  PrependIcon="@nav.Icon" AppendIcon="M8.33398 10.3335L12.5007 14.5002L16.6673 10.3335H8.33398Z">@*ActiveClass="pry white--text" *@                      
                        <ActivatorContent>
                            <h7 class="ml-n6 neutral-lighten-4--text">@T(nav.Title)</h7>
                        </ActivatorContent>
                        <ChildContent>
                            @foreach (var navChild in nav.Childs)
                            {
                                <MListItem ActiveClass="pry white--text" Style="border-radius: 4px;"  Link Href="@navChild.Href">
                                    <ItemContent>
                                        <MListItemIcon Class="mx-0 ml-10 my-2">
                                            <MIcon class="@(context.Active?"white--text":"neutral-lighten-4--text")" Size=12>@navChild.Icon</MIcon>
                                        </MListItemIcon>
                                        <MListItemContent Class="py-0" Style="height:40px;">
                                            <h7 class="@(context.Active?"white--text":"neutral-lighten-4--text")">@T(navChild.Title)</h7>
                                        </MListItemContent>
                             @*           @if (context.Active)
                                        {
                                            <div class="deep-purple" style="height:24px;width:3px"></div>
                                        }*@
                                    </ItemContent>
                                </MListItem>
                            }

                        </ChildContent>
                    </MListGroup>
                }             
            }
        }
        </MListItemGroup>
</MList>

@code {
    public override string Name => nameof(Navigation);
}
