@inherits DemoCompontentBase
@inject NavigationManager Nav
@inject List<NavCategory> NavCategorys

<MList Dense Linkage Class="navigation">
    <div class="hover-pointer px-4" @onclick="()=>Nav.NavigateTo(GlobalVariables.DefaultRoute)">  
        <MIcon Color=purple>fas fa-seedling</MIcon>
        <span class="ml-6">MASA Blazor Pro</span>
    </div>
    <MListItemGroup>
        @foreach (var navCategory in NavCategorys)
        {
            <MSubheader @key="T(navCategory.Category)">@T(navCategory.Category)</MSubheader>
            @foreach (var nav in navCategory.Navs)
            {
                if (nav.Childs is not null)
                {
                    <MListGroup Group="@string.Join(",",nav.Childs.Select(n=>n.Href))" ActiveClass="deep-purple--text" PrependIcon="@nav.Icon">
                        <ActivatorContent>
                            <MListItemTitle Class="subtitle-1 ml-n3">@T(nav.Title)</MListItemTitle>
                        </ActivatorContent>
                        <ChildContent>
                            @foreach (var navChild in nav.Childs)
                            {
                                <MListItem ActiveClass="deep-purple--text" Link Href="@navChild.Href">
                                    <ItemContent>
                                        <MListItemIcon Class="ml-2">
                                            <MIcon>@navChild.Icon </MIcon>
                                        </MListItemIcon>
                                        <MListItemContent Class="ml-n5">
                                            <MListItemTitle Class="subtitle-1">@T(navChild.Title)</MListItemTitle>
                                        </MListItemContent>
                                        @if (context.Active)
                                        {
                                            <div class="deep-purple" style="height:24px;width:3px"></div>
                                        }
                                    </ItemContent>
                                </MListItem>
                            }

                        </ChildContent>
                    </MListGroup>
                }
                else
                {
                    <MListItem ActiveClass="deep-purple--text" Link Href="@nav.Href">
                        <ItemContent>
                            <MListItemIcon>
                                <MIcon>@nav.Icon</MIcon>
                            </MListItemIcon>
                            <MListItemContent Class="ml-n3">
                                <MListItemTitle Class="subtitle-1">@T(nav.Title)</MListItemTitle>
                            </MListItemContent>
                            @if (context.Active)
                            {
                                <div class="deep-purple" style="height:24px;width:3px"></div>
                            }
                        </ItemContent>
                    </MListItem>
                }
            }
        }
    </MListItemGroup>

</MList>

@code {
    public override string Name => nameof(Navigation);
}
